body {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
  }
  
  #logo {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color: black;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    text-decoration: none;
    padding: 15px;
    font-size: 23px;
    font-weight: bold;
  }
  
  .navbar:hover {
    color: #1976bb;
    font-size: 30px;
  }
  
  li {
    display: inline;
  }

  #trep {
    width: 450px;
    height: 250px;
    border-color: black;
    border-style: solid;
  }

  #trep:hover {
    width: 500px;
    height: 300px;
  }

  #paused {
    width: 350px;
    height: 450px;
    border-color: #1976bb;
    border-style: solid;
  }

  #paused:hover {
    width: 400px;
    height: 500px;
  }

  #trep-two {
    width: 550px;
    height: 350px;
    border-color: black;
    border-style: solid;
  }

  #paused-two {
    width: 350px;
    height: 450px;
    border-color: black;
    border-style: solid;
  }

  #paused-two:hover {
    width: 450px;
    height: 550px;
  }

  #trep-text {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    padding: 20px;
  }

  #trep-text:hover {
    font-size: 18px;
  }

  #paused-text {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    padding: 20px;
  }

  #paused-text:hover {
    font-size: 18px;
  }

  #trep-two:hover {
    width: 630px;
    height: 450px;
  }

  #features {
    display: flex;
    flex-direction: column;
  }
  
  #twitter-image {
    width: 45px;
    height: 45px;
  }
  
  #instagram-image {
    width: 45px;
    height: 45px;
  }
  
  #twitter {
    margin: 4px;
  }

  #twitter-image:hover {
    width: 55px;
    height: 55px;
  }
  
  #instagram {
    margin: 4px;
  }

  #instagram-image:hover {
    width: 55px;
    height: 55px;
  }
  
  #scroll {
    display: none;
    width: 70px !important;
    height: 70px !important;
    margin-top: 150px;
  }

  #posts {
    display: grid;
    gap: 200px 200px;
    grid-template-columns: auto auto;
  }

  #begin {
    margin-left: auto;
    margin-right: auto;
  }

  #initiative {
    width: 450px;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  
  [aos="fade"] {
    opacity: 0;
    transition-property: opacity;
  }
  
  [aos="fade"].aos-animate {
    opacity: 1;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .navbar {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      padding: 20px;
      font-size: 50px;
      font-weight: bold;
    }
  
    .navbar:hover {
      color: #1976bb;
      font-size: 80px;
    }

    ul {
        margin-top: 90px;
    }
  
    #scroll {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40px;
      height: 40px;
      animation-direction: alternate-reverse;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-name: scroll;
    }
  
    @keyframes scroll {
      0% {
        transform: translate(0px, 0px);
      }
  
      100% {
        transform: translate(0px, 20px);
      }
    }
  }
  